body{
  margin: 0;
  background-image:
    linear-gradient(
      to top right, 
      rgb(70,70,90), rgb(190,190,200), rgb(240,245,252), white , rgb(240,245,252), rgb(190,190,200), rgb(70,70,90)
    );
  background-size: cover;
  background-attachment: fixed;
}

a{
	text-decoration: none;
	color: black;
}

#buttons{
  margin: 5vw 15vw;
}

#buttons li{
  background-color: white;
  font-family: 'Mountains of Christmas', cursive;
	font-size: 1.7vw;
  color: black;
	margin: 2vw 0;
  padding: 0.7vw 1.2vw;
  width: 25vw;
  border-radius: 1vw;
  border: 5px solid #550a0a;
  text-align: center;
}
