body{
  margin: 0;
  background-color: black;
  background-image: background-image:
    linear-gradient(
      to right, 
      black, rgb(200,30,80)
    );
  background-size: cover;
  background-attachment: fixed;
}

h2{
  font-family: 'Mountains of Christmas', cursive;
}

#open{
  display: none;
}

#buttons{
  margin: 5vw 15vw;
}

.block_closed{
  background-color: black;
  color: white;
  padding: 0.3vw 1.2vw;
  width: 25vw;
  border-radius: 1vw;
  border: 5px solid #550a0a;
  text-align: center;
}
